.example-spacer {
  flex: 1 1 auto;
}

button{
  margin-left: 1rem;
  width: 100px;
  height: 38px;
  border-radius: 0.5rem;
  background-color: #3F51B5;
  color: white;
  border: 1px  solid white;
  &:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
}
