<mat-card appearance="outlined">
  <mat-card-content>
    <mat-toolbar color="primary">
      <span> Cidades </span>
    </mat-toolbar>

    <div *ngIf="cidade$ | async as cidade; else loading">
      <table mat-table [dataSource]="cidade" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="cidade">
          <th mat-header-cell *matHeaderCellDef>Cidade</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="editMode[element.id]; else viewMode">
              <input matInput [(ngModel)]="element.cidade" />
            </ng-container>
            <ng-template #viewMode>
              {{ element.cidade }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="populacao">
          <th mat-header-cell *matHeaderCellDef>População</th>
          <td mat-cell *matCellDef="let element">{{ element.populacao }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>
            <button mat-fab extended class="add_" color="accent" (click)="onAdd()">
              <mat-icon>add</mat-icon>
              Cidade
            </button>
          </th>
          <td mat-cell *matCellDef="let cidade" class="action">
            <button mat-mini-fab aria-label="edit" color="accent">
              <mat-icon class="edit_btn">edit</mat-icon>
            </button>
            <button mat-mini-fab aria-label="delete" color="warn" (click) = "onDelete(cidade.id)">
              <mat-icon class="delete_btn" >delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <ng-template #loading>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
