
.spacer {
  flex: 1 1 auto;
}

.add_{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 1rem;
  width: 180px;
  height: 38px;
  border-radius: 0.5rem;
  background-color: #3F51B5;
  color: white;
  border: 1px  solid white;
  font-size: 14px;
  &:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
}

.action button{
  margin-right: 1rem;
  &:hover{
    cursor: pointer;
    transform: scale(1.1);
  }
}
