<mat-card appearance="outlined">
  <mat-card-content>
    <mat-toolbar color="primary">
      <span> Pessoas </span>
      <span class="spacer"></span>
      <button mat-icon-button class="add_" aria-label="Adicionar Pessoa" (click)="onAdd()">
        <mat-icon>add</mat-icon>
        Adicionar Pessoa
      </button>
    </mat-toolbar>

  <div *ngIf="pessoas$ | async as pessoas else loading" class="aTable">
    <table mat-table [dataSource]="pessoas" class="mat-elevation-z8 demo-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let element">             
          <ng-container *ngIf="editMode[element.id]; else viewMode">
            <input matInput placeholder="{{ element.nome }}" [(ngModel)]="editedPessoa[element.id].nome" class="ed_input"/>
          </ng-container>
          <ng-template #viewMode>
            {{ element.nome }}
          </ng-template> 
        </td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container *ngIf="editMode[element.id]; else viewMode">
            <input matInput placeholder="{{ element.time }}" [(ngModel)]="editedPessoa[element.id].time" class="ed_input"/>
          </ng-container>
          <ng-template #viewMode>
            {{ element.time }}
          </ng-template> 
        </td>
      </ng-container>

      <!-- CPF Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container *ngIf="editMode[element.id]; else viewMode">
            <input matInput placeholder="{{ element.cpf}}" [(ngModel)]="editedPessoa[element.id].cpf" class="ed_input"/>
          </ng-container>
          <ng-template #viewMode>
            {{ element.cpf}}
          </ng-template> 
        </td>
      </ng-container>

      <!-- Hobbie Column -->
      <ng-container matColumnDef="hobbie">
        <th mat-header-cell *matHeaderCellDef> Hobbie </th>
        <td mat-cell *matCellDef="let element"> 
          <ng-container *ngIf="editMode[element.id]; else viewMode">
            <input matInput placeholder="{{ element.hobbie}}" [(ngModel)]="editedPessoa[element.id].hobbie" class="ed_input"/>
          </ng-container>
          <ng-template #viewMode>
            {{ element.hobbie}}
          </ng-template> 
        </td>
      </ng-container>

        <!-- Cidade Column -->
        <ng-container matColumnDef="cidade">
          <th mat-header-cell *matHeaderCellDef> Cidade </th>
          <td mat-cell *matCellDef="let element">         
            <ng-container *ngIf="editMode[element.id]; else viewMode">

              <select (change)="onCidadeChange($any($event.target).value, element)" [ngModel]="element.cidade?.id">
                <option *ngFor="let cidade of (cidades$ | async)" [value]="cidade.id">
                  {{cidade.cidade}}
                </option>
              </select>
              

            </ng-container>
            <ng-template #viewMode>
              {{ element.cidade.cidade }}
            </ng-template> 
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Editar / Deletar </th>
          <td mat-cell *matCellDef="let element" class="action">
            <button  aria-label="edit"  *ngIf="!editMode[element.id]" (click)="onEdit(element)">
              <mat-icon class="edit_btn">edit</mat-icon>
            </button>
            <button aria-label="save"  *ngIf="editMode[element.id]" (click) = "onSave(element)">
              <mat-icon class="save_btn">save</mat-icon>
            </button>
            <button aria-label="delete"  *ngIf="!editMode[element.id]" (click) = "onDelete(element.id)">
              <mat-icon class="delete_btn">delete</mat-icon>
            </button>
            <button aria-label="cancelar"  *ngIf="editMode[element.id]" (click) = "onCancel(element)">
              <mat-icon class="cancel_btn">cancel</mat-icon>
            </button>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  </mat-card-content>
</mat-card>

